* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.php linguist-language=PHP
*.html diff=html
*.md diff=markdown
*.php linguist-language=PHP


/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
